streamlit==1.32.0
yt-dlp==2024.3.10
youtube-transcript-api==0.6.2
groq==0.9.0
fpdf2==2.7.8
python-dotenv==1.0.1
pydub==0.25.1
ffmpeg-python==0.2.0
google-generativeai==0.5.4
openai-whisper==20231117
tiktoken==0.7.0
